body{
	background-image: url(https://static.chasecdn.com/content/geo-images/images/background.mobile.day.5.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.subcon {
  background-color: #fff;
  text-align: center;
  margin-top: 8%;
  width: 40%;
  height: 200px;
  margin-left: 30%;
  border-radius: 5px;

}
